@keyframes chat-item-appearing {
  from {
    background: rgba($white, .1);
  }

  to {
    background: rgba($white, 0);
  }
}

chat-item {
  position: relative;
  display: flex;
  padding: .5rem 1.5rem;
  line-height: 1.25rem;
  word-break: break-all;
  animation: chat-item-appearing 1500ms;

  &:first-child {
    margin-top: auto;
  }

  &[type="server"] {
    color: darken($text-color, 30%);
    font-style: italic;
  }

  &.is-fading-out {
    transform: translateY(-2rem);
    opacity: 0;
    transition: transform 1000ms, opacity 750ms;
  }

  &::part(username) {
    display: block;
    padding-right: 1rem;
    font-weight: bold;
    word-break: normal;
  }

  &::part(timestamp) {
    display: inline-block;
    margin: .2rem 0 0 auto;
    padding-left: 1rem;
    font-size: 11px;
    line-height: 1rem;
    word-break: normal;
    color: darken($text-color, 30%);
  }


  &::part(timer) {
    flex: 0 0 1rem;
    width: 1rem;
    height: 1rem;
    margin-top: .125rem;
    margin-left: .5rem;
    border-radius: 50%;
  }
}
