* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #111;
  font-family: $font-stack;
  color: $text-color;
}

.wrapper {
  position: relative;
  height: 100vh;
  max-width: 640px;
  margin: 0 auto;
  border-top: 0;
  border-bottom: 0;
  overflow-y: auto;
}
